.box img {
  height: 10rem;
  margin: 1rem 0;
}

.box .item-name {
  color: var(--black);
  font-size: clamp(1.5rem, 2vw, 2rem);
}

.box .item-price {
  color: var(--green);
  font-weight: 700;
  font-size: 2rem;
  color: var(--green);
  display: block;
}
